html, body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  background-color: #151826;
  color: #bad9f7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arvo;
}

select, button {
  font-family: Arvo;
  padding: 1em;
  border-radius: 1em;
}

option {
  font-family: Lato;
}

.title {
  text-align: center;
}

.results {
  margin-top: 2em;
  padding: 1em 2em;
  border: 1px solid #353c52;
  background: #6D7BA6;
  border-radius: 1em;
  box-shadow: inset #6D7BA6 0 0 0 6px, inset #bad9f7 0 0 0 9px
}

button {
  background-color: #43D9BD;
  border: solid 3px #6D7BA6;
  color: #353c52;
  font-weight: bolder;
}

.results li {
  margin-bottom: 1em;
  animation: 1.5s fade-in;
}

@keyframes fade-in {
  0% {
    color: #3DD9AD;
  }
  100% {
    color: #bad9f7;
  }
}